doctype html
html
    head
        title = "Home"
        style
            include ./style.css
    body
        ul.navbar
            li 
                a(href='Home') Home
            li
                a(href='OurServices') Our Services
            li
                a(href='ContactUs') Contact  